/*
 * Copyright (c) 2020 Alexander Kozhinov <ak.alexander.kozhinov@gmail.com>
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h723Xg.dtsi>
#include <st/h7/stm32h723vgtx-pinctrl.dtsi>


/*
 * WARNING:
 * JP6 and SB72 must be ON when using Ethernet.
 */

/ {
	model = "UTS2 Motherboard (STM32H723VG)";
        compatible = "st,uts2-motherboard";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,dtcm = &dtcm;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;	
	    zephyr,code-partition = &flash0;
	};

	leds: leds {
		compatible = "gpio-leds";

		green_led: led_0 {
			gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
			label = "User LD1";
		};

		yellow_led: led_1 {
			gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
			label = "User LD2";
		};

		red_led: led_2 {
			gpios = <&gpioe 15 GPIO_ACTIVE_HIGH>;
			label = "User LD3";
		};
	};

		
	aliases {
		led0 = &green_led;
		led1 = &yellow_led;
		led2 = &red_led;		
	};
};

&pwr {
    status = "okay";
};

&clk_lse {
    status = "disabled";
};

&clk_hse {
    status ="okay";
    clock-frequency = <32000000>; /* 32 MHz */
    /* Если у вас по схеме подан генератор (меандр), а не пассивный кварц, раскомментируйте строчку ниже: */
    /* hse-bypass; */
};

&clk_lsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};



&clk_hsi {
    hsi-div = <1>;
    status = "okay";
}; 


&pll {
	div-m = <2>;
	mul-n = <34>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	fracn = <3072>; 
	clocks = <&clk_hse>;
	status = "okay";
};



&rcc {
	clocks = <&pll>;
	clock-frequency = <275000000>;
	d1cpre = <1>;
	hpre = <2>;    /* HCLK: 275   MHz */
	d1ppre = <2>;  /* APB1: 137.5 MHz */
	d2ppre1 = <2>; /* APB2: 137.5 MHz */
	d2ppre2 = <2>; /* APB3: 137.5 MHz */
	d3ppre = <2>;  /* APB4: 137.5 MHz */
	
};

&pwr {
	power-supply = "ldo";
};


&pinctrl {
    usart1_tx_pa9: usart1_tx_pa9 {
        pinmux = <STM32_PINMUX('A', 9, AF7)>;
        bias-pull-up;
    };

    usart1_rx_pa10: usart1_rx_pa10 {
        pinmux = <STM32_PINMUX('A', 10, AF7)>;
    };
};

&usart1 {
    pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
    pinctrl-names = "default";
    current-speed = <115200>;
	tx-rx-swap;
    status = "okay";
};

/ {
    aliases {
        fram0 = &fram_chip;
    };
};

/* Перенаправляем пины для SPI4 на порт E */
&pinctrl {
    spi4_sck_pe2: spi4_sck_pe2 {
        pinmux = <STM32_PINMUX('E', 2, AF5)>; /* AF5 для SPI4 на STM32H7 */
        bias-pull-down;
    };

    spi4_miso_pe5: spi4_miso_pe5 {
        pinmux = <STM32_PINMUX('E', 5, AF5)>;
        bias-pull-down;
    };

    spi4_mosi_pe6: spi4_mosi_pe6 {
        pinmux = <STM32_PINMUX('E', 6, AF5)>;
        bias-pull-down;
    };
};

/* Включаем и настраиваем SPI4 */
&spi4 {
    pinctrl-0 = <&spi4_sck_pe2 &spi4_miso_pe5 &spi4_mosi_pe6>;
	cs-gpios = <&gpioe 4 GPIO_ACTIVE_LOW>; // Назначаем PE4 как софтовый CS*/
    pinctrl-names = "default";
    status = "okay";

    /* Опционально: если используете аппаратный CS на PE4 (AF5) */
    /* pinctrl-0 также должна включать пин CS, либо задаем его через cs-gpios */
    
    fram_chip: mb85rs64@0 {
        compatible = "fujitsu,mb85rsxx";
        reg = <0>;             
        spi-max-frequency = <8000000>; 
        size = <8192>;        
    };
};

&i2c2 {
    status = "okay";
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
    clock-frequency = <400000>; /* 400 kHz (Fast Mode) */

    CUR_SENS_BRD_LOW: ina228@40 {
        compatible = "ti,ina228";
        reg = <0x40>;
        current-lsb-microamps = <10>;
        rshunt-micro-ohms = <50000>;      /* Закрыто корректно: <50000> */
        status = "okay";
    };

    CUR_SENS_BRD_HIGH: ina228@41 {
        compatible = "ti,ina228";
        reg = <0x41>;
        current-lsb-microamps = <10>;
        rshunt-micro-ohms = <50000>;
        status = "okay";
    };

    CUR_SENS_VDUT2: ina228@42 {
        compatible = "ti,ina228";
        reg = <0x42>;
        rshunt-micro-ohms = <500000>;
        current-lsb-microamps = <1>;
        status = "okay";
    };

    CUR_SENS_VDUT3: ina228@43 {
        compatible = "ti,ina228";
        reg = <0x43>;
        rshunt-micro-ohms = <500000>;
        current-lsb-microamps = <1>;
        status = "okay";
    };

    CUR_SENS_VIN: ina228@44 {
        compatible = "ti,ina228";
        reg = <0x44>;
        current-lsb-microamps = <10>;
        rshunt-micro-ohms = <50000>;
        status = "okay";
    };

    CUR_SENS_3_3_DCDC: ina228@45 {
        compatible = "ti,ina228";
        reg = <0x45>;
        current-lsb-microamps = <10>;
        rshunt-micro-ohms = <50000>;
        status = "okay";
    };

    CUR_SENS_VDOUT_PWR: ina228@46 {
        compatible = "ti,ina228";
        reg = <0x46>;                     /* Исправлено совпадение адресов (было 0x45) */
        current-lsb-microamps = <10>;
        rshunt-micro-ohms = <50000>;
        status = "okay";
    };

    CUR_SENS_5VD: ina228@47 {
        compatible = "ti,ina228";
        reg = <0x47>;
        current-lsb-microamps = <10>;
        rshunt-micro-ohms = <50000>;
        status = "okay";
    };
};

zephyr_udc0: &usbotg_hs {
    pinctrl-0 = <&usb_otg_hs_dm_pa11 &usb_otg_hs_dp_pa12>;
    pinctrl-names = "default";
    status = "okay";

	/delete-property/ vbus-gpios;
    /* Дочерний узел виртуального COM-порта (CDC ACM) */
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};