/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include "src/board_define.h"

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;   /* ← Вот эта строка! */
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "СDC Console";
    };
	
    cdc_acm_uart1: cdc_acm_uart1 {
        compatible = "zephyr,cdc-acm-uart";
        label = "СDC data";
    };

};

&pinctrl {
    /* Создаем отдельный узел для каждого пина */
    mux_a0_default: mux_a0_default {
        pinmux = <STM32_PINMUX(MUX_AIN_GPIO_PORT_CHAR, MUX_AO_PIN, GPIO)>;
        drive-push-pull;
        slew-rate = "very-high-speed";
        output-low;
    };

    mux_a1_default: mux_a1_default {
        pinmux = <STM32_PINMUX(MUX_AIN_GPIO_PORT_CHAR, MUX_A1_PIN, GPIO)>;
        drive-push-pull;
        slew-rate = "very-high-speed";
        output-low;
    };

    mux_a2_default: mux_a2_default {
        pinmux = <STM32_PINMUX(MUX_AIN_GPIO_PORT_CHAR, MUX_A2_PIN, GPIO)>;
        drive-push-pull;
        slew-rate = "very-high-speed";
        output-low;
    };
    /* 
     * Аналоговые пины Vsense (АЦП).
     * Режим ANALOG отключает цифровые буферы на ножках.
     */
    mux1_adc_vsense: mux1_adc_vsense {
        pinmux = <STM32_PINMUX(MUX1_ADC_VSENSE_PORT, MUX1_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux2_adc_vsense: mux2_adc_vsense {
        pinmux = <STM32_PINMUX(MUX2_ADC_VSENSE_PORT, MUX2_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux3_adc_vsense: mux3_adc_vsense {
        pinmux = <STM32_PINMUX(MUX3_ADC_VSENSE_PORT, MUX3_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux4_adc_vsense: mux4_adc_vsense {
        pinmux = <STM32_PINMUX(MUX4_ADC_VSENSE_PORT, MUX4_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux5_adc_vsense: mux5_adc_vsense {
        pinmux = <STM32_PINMUX(MUX5_ADC_VSENSE_PORT, MUX5_ADC_VSENSE_PIN, ANALOG)>;
    };
};

/* Узел контейнер. В данном случае используем leds
 */
/ {
    /* 
     * Идеально чистый узел-контейнер. 
     * compatible нужен только для валидации макросов pinctrl в Си.
     */
    seq_pins: seq_pins {
        compatible = "seq-pins";
        pinctrl-0 = <&mux_a0_default &mux_a1_default &mux_a2_default>;
        pinctrl-names = "default";
    };
};


/ {
    zephyr,user {
       /* DMA1 Stream 0: Переключает мультиплексор по TIM3_UP (Слот 27) */
        dmas = <&dmamux1 0 SEQ_TIMER_DMAMUX_SLOT (STM32_DMA_MEMORY_TO_PERIPH | 
                                                 STM32_DMA_MEM_INC | 
                                                 STM32_DMA_MEM_32BITS | 
                                                 STM32_DMA_PERIPH_32BITS | 
                                                 STM32_DMA_PRIORITY_HIGH | 
                                                 STM32_DMA_MODE_CYCLIC)>,
               /* DMA1 Stream 1: ADC3 Circular Scan (Слот 115) */
               <&dmamux1 1 115 (STM32_DMA_PERIPH_TO_MEMORY | 
                              STM32_DMA_MEM_INC | 
                              STM32_DMA_PERIPH_32BITS | 
                              STM32_DMA_MEM_32BITS | 
                              STM32_DMA_PRIORITY_VERY_HIGH | 
                              STM32_DMA_MODE_CYCLIC)>;
        dma-names = "seq_dma", "adc_dma";
    };
};

/* Ссылка на таймер и его дочерний счетчик раскрывается автоматически */
&SEQ_TIMER_NODELABEL {
    status = "okay";
    st,prescaler = <10000>; 
    counter {
        status = "okay";
    };
};


&MUX_AIN_GPIO_PORT_NODELABEL {
    status = "okay";
};

/* Включаем АЦП3 в дереве устройств */
&adc3 {
    status = "okay";
    pinctrl-0 = <&mux1_adc_vsense &mux2_adc_vsense &mux3_adc_vsense &mux4_adc_vsense &mux5_adc_vsense>;
    pinctrl-names = "default";
};

&dma1 {
    status = "okay";
};

&dmamux1 {
    status = "okay";
};
