/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/dma/stm32_dma.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include "src/board_define.h"

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;   /* ← Вот эта строка! */
    };

     my_sequencer: my_sequencer {
        compatible = "custom,seq-mux-adc";
        
        /* 
         * Передаем ссылки на аппаратные блоки таймера и АЦП.
         * Это избавляет наш Си-код драйвера от хардкода.
         */
        adc-dev = <&adc3>;
        timer-dev = <&timers3>;

        /* 
         * Настройка каналов DMA:
         * 1. DMA1 Stream 0: Переключение пинов мультиплексора (Слот 27, TIM3_UP)
         * 2. DMA1 Stream 1: Опрос АЦП3 в циклическом режиме по кругу (Слот 115, ADC3)
         */
        dmas = <&dmamux1 0 23 0>,
               <&dmamux1 1 115 0>;
        dma-names = "seq_dma", "adc_dma";

        /* Ссылка на аппаратный pinctrl управляющих пинов */
        mux-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>,
                    <&gpiob 13 GPIO_ACTIVE_HIGH>,
                    <&gpiob 14 GPIO_ACTIVE_HIGH>;

        adc-duration-us = <1000000>;     /* T1: время АЦП */
        switch-duration-us = <1000000>;  /* T2: время переключения */

        status = "okay";
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "СDC Console";
    };
	
   

};

&pinctrl {
    /* Создаем отдельный узел для каждого пина */
    mux1_adc_vsense: mux1_adc_vsense {
        pinmux = <STM32_PINMUX(MUX1_ADC_VSENSE_PORT, MUX1_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux2_adc_vsense: mux2_adc_vsense {
        pinmux = <STM32_PINMUX(MUX2_ADC_VSENSE_PORT, MUX2_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux3_adc_vsense: mux3_adc_vsense {
        pinmux = <STM32_PINMUX(MUX3_ADC_VSENSE_PORT, MUX3_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux4_adc_vsense: mux4_adc_vsense {
        pinmux = <STM32_PINMUX(MUX4_ADC_VSENSE_PORT, MUX4_ADC_VSENSE_PIN, ANALOG)>;
    };
    mux5_adc_vsense: mux5_adc_vsense {
        pinmux = <STM32_PINMUX(MUX5_ADC_VSENSE_PORT, MUX5_ADC_VSENSE_PIN, ANALOG)>;
    };
};


/* Ссылка на таймер и его дочерний счетчик раскрывается автоматически */
&SEQ_TIMER_NODELABEL {
    status = "okay";
    st,prescaler = <10000>; 
    counter {
        status = "okay";
    };
};

&gpiob {
    status = "okay";
};

/* Включаем АЦП3 в дереве устройств */
&adc3 {
    status = "okay";
    pinctrl-0 = <&mux1_adc_vsense &mux2_adc_vsense &mux3_adc_vsense &mux4_adc_vsense &mux5_adc_vsense>;
    pinctrl-names = "default";
};

&dma1 {
    status = "okay";
};

&dmamux1 {
    status = "okay";
};

&sram4  {
    status = "okay";
};