# SPDX-License-Identifier: Apache-2.0

# Чип
CONFIG_SOC_SERIES_STM32H7=y
CONFIG_SOC_STM32H723VG=y
CONFIG_BOARD_UTS2_MOTHERBOARD=y

# Тактирование
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=550000000

# Базовая периферия
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_GPIO=y
CONFIG_PINCTRL=y

# Консоль
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_PRINTK=y